* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "quicksand", sans-serif;
  color: var(--primary-color);
  background-color: var(--third-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
