/* Header Component */

.header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 2rem;
  margin-bottom: 2rem;
}

.header__logo {
  font: 1rem "gang of three", sans-serif;
  font-size: 2rem;
  color: var(--third-color);
}

header nav {
  height: fit-content;
  margin: auto 0;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  font: 1rem "Anime Ace", sans-serif;
}

header .nav-icons {
  stroke: var(--third-color);
}

.navlinks .icon {
  color: var(--third-color);
}

.navlinks__item {
  margin: 0 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 4px;
}

.nav__icons {
  color: var(--third-color);
}

.nav__text {
  text-decoration: none;
  font-family: "Anime Ace", sans-serif;
  color: var(--third-color);
  font-size: 1rem;
}

header nav ul li:hover {
  border-radius: 20px;
  background-color: var(--secondary-color);
}

/* Footer Component */
footer {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 2rem;
}

footer p {
  color: var(--third-color);
}
